.center, .center-column, .top, .right, .bottom, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
    .desktop {
        display: none;
    }
}

.alignText {
    text-align: center;
}

.marginBottomLess {
    margin-bottom: 0!important;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #575757;
}

.bgFull {
    background: black url('../img/background.jpg') center / cover;
}

/* Animation soulignement header */

.leftAnim:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.leftAnim:hover:before {
    visibility: visible;
    width: 100%;
}

.midAnim:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.midAnim:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.rightAnim:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.rightAnim:hover:before {
    visibility: visible;
    width: 100%;
}

/* END Animation soulignement header */

/* Carte après hover works.html */

.absolute{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.cardTxtCustom{
    background-color: #494949;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.cardTxtCustom i {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* END Carte après hover works.html */

/* Carte des travaux works.html */

.cardBgCustom {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* END Carte après hover works.html */

/* Animation carte après hover works.html */

.animCard{
    z-index: 9;
}

.animCard::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 0 12px;
    opacity: 0;
    zoom: 0;
    transition: opacity 500ms ease-in-out;
}

.animCard:hover::before {
    opacity: 1;
}

.animCard:hover .cardBgCustom {
    transition: 500ms ease-in-out;
    opacity: 0.3;
}
/* END Animation carte après hover works.html */

/* Animation txt dans carte après hover  works .html */

.txtSlide {
    position: absolute;
    height: 0;
    transition: 500ms ease-in-out;
    color: transparent;
}

.animCard:hover .cardTxtCustom {
    transition: 500ms ease-in-out;
    height: 100%;
    color: white;
}

/* END Animation carte après hover  works .html */

