body {
    background-color: rgb(255, 252, 244);
    font-family: 'Bebas Neue', Arial;
    min-height: 100%;
    margin: 0;
    padding: 0;
}


section:first-of-type { /* Section de la navbar entière*/
    width: 101.05%;
    height: 100px;
    background-color: rgb(34, 34, 34);
}

#navBarButton { /* Bouton mes projets */
    position: fixed;
    text-align: right;
    right : 400px;
    top: 30px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.3em;
    padding:5px;
    padding-left: 40px;
    padding-right: 40px;
    border: solid whitesmoke;
    letter-spacing: 0.25em;
}

#navBarContact { /* Bouton mes contacts dans la navbar */
    position: fixed;
    right: 75px;
    top: 5px;
    letter-spacing: 0.1em;
    color: whitesmoke;
}

.navBarCV { /* Texte mes contacts dans la navbar */
    text-decoration: overline;
    padding-left: 100px;
}


nav > a > img { /* Logo dans la navbar */
    margin-left: 175px;
    margin-top: 5px;
    height: 90px;
}


#burger { /*Image du menu burger */
    display: none;
    position: fixed;
    height: 30px;
    left: 1%;
    top: 27px;
    padding: 5px;
    border: solid whitesmoke 1.5px;
}

